@import "tailwindcss";
@import 'devicon/devicon.min.css';

:root {
  --background: hsl(220, 20%, 6%);
  --foreground: #ededed;
  --iubpc-color: hsl(0, 0%, 100%);
  --iubpc-color-2: hsl(144, 63%, 35%);
  --font-inter: var(--font-inter);
  --font-roboto: var(--font-roboto);
}


@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --iubpc: var(--iubpc-color);
  --iubpc-2: var(--iubpc-color-2);
}

@keyframes iubpc-2 {
  0% {
    scale: 0.8;
  }

  100% {
    scale: 1;
  }

}

@keyframes splash {
  0% {
    height: 4px;
  }

  50% {
    height: 50px;
  }

  100% {
    height: 4px;
  }
}

@keyframes nav_bar {
  0% {
    transform: translateY(-150%);
  }

  100% {
    transform: translateY(0);
  }
}
.nav_bar_animate {
  animation: nav_bar 0.5s ease-in-out forwards;
}

body {
  background: var(--background);
  color: var(--foreground);
}
