@import "tailwindcss";
@import 'devicon/devicon.min.css';

:root {
  --background: #000000;
  --foreground: #ededed;
  --iubpc-color: hsl(144, 63%, 35%);
  --font-inter: var(--font-inter);
  --font-roboto: var(--font-roboto);
}


@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --animate-ripple: ripple var(--duration, 2s) ease calc(var(--i, 0) * 0.2s) infinite;
  --animate-meteor: meteor 5s linear infinite;
  --iubpc: var(--iubpc-color);
}

@keyframes meteor {
  0% {
    transform: rotate(var(--angle)) translateX(0);
    opacity: 1;
  }

  70% {
    opacity: 1;
  }

  100% {
    transform: rotate(var(--angle)) translateX(-500px);
    opacity: 0;
  }
}

@keyframes ripple {

  0%,
  100% {
    transform: translate(-50%, -50%) scale(1);
  }

  50% {
    transform: translate(-50%, -50%) scale(0.9);
  }
}

@keyframes iubpc {
  0% {
    stroke-dashoffset: 450;
    scale: 0.9;
  }

  80% {
    fill: transparent;
    scale: 1;
  }

  100% {
    fill: var(--iubpc);
    stroke-dashoffset: 0;
  }

}

@keyframes iubpc-2 {
  0% {
    stroke-dashoffset: 580;
  }

  95% {
    fill: transparent;
  }

  100% {
    fill: var(--iubpc);
    stroke-dashoffset: 0;
  }

}

body {
  background: var(--background);
  color: var(--foreground);
}

.iubpc-svg {
  stroke-dasharray: 450;
  stroke-dashoffset: 450;
  stroke-width: 2;
  stroke: var(--iubpc);
  transform-origin: center;
  animation: iubpc 4s ease-in-out forwards;
}

.iubpc-svg-2 {
  stroke-dasharray: 580;
  stroke-dashoffset: 580;
  stroke-width: 7;
  stroke: var(--iubpc);
  transform-origin: center;
  animation: iubpc-2 4s ease-in-out forwards;
}