@import "tailwindcss";
@import 'devicon/devicon.min.css';

:root {
  --background: hsl(0, 0%, 0%);
  --foreground: #ededed;
  --iubpc-color: hsl(0, 0%, 100%);
  --iubpc-color-2: hsl(144, 63%, 35%);
  --font-inter: var(--font-inter);
  --font-roboto: var(--font-roboto);
}


@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --iubpc: var(--iubpc-color);
  --iubpc-2: var(--iubpc-color-2);
}


@keyframes iubpc {
  0% {
    stroke-dashoffset: 450;
    scale: 0.9;
  }

  80% {
    fill: transparent;
    scale: 1;
  }

  100% {
    fill: var(--iubpc);
    stroke-dashoffset: 0;
  }

}

@keyframes iubpc-2 {
  0% {
    stroke-dashoffset: 580;
    scale: 0.8;
  }
  80% {
    transform: rotate(0deg);
  }
  95% {
    fill: transparent;
    scale: 1;
    
  }

  100% {
    fill: var(--iubpc-2);
    stroke-dashoffset: 0;
    transform: rotate(180deg);
  }

}

@keyframes splash {
  0% {
    height: 4px;
  }
  50% {
    height: 50px;
  }
  100% {
    height: 4px;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
}

.iubpc-svg {
  stroke-dasharray: 450;
  stroke-dashoffset: 450;
  stroke-width: 2;
  stroke: var(--iubpc);
  transform-origin: center;
  animation: iubpc 4s ease-in-out forwards;
}

.iubpc-svg-2 {
  stroke-dasharray: 580;
  stroke-dashoffset: 580;
  stroke-width: 7;
  stroke: var(--iubpc-2);
  transform-origin: center;
  animation: iubpc-2 4s ease-in-out forwards;
}
